body{
    background: #1c1c1c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
form{
    max-width: 30rem;
    border: 1px solid #666;
    border-radius: 12px;
    padding: 1rem;
    margin: 2rem;
}
input{
    background: #3b3b3b;
    border: 1px solid #666;
    border-radius: 6px;
    color: white;
}
h1{
    margin-top: 0;
    text-align: center;
}
.field{
    border-bottom: 1px solid #666;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.field input{
    height: 2rem;
    margin-bottom: .8rem;
}
.question{
    border-bottom: 1px solid #666;
}
.list-titel{
    margin-left: -1.5rem;
    font-size: 14px;
}
.comments textarea{
    width: 100%;
    height: 6rem;
    background: #3b3b3b;
    border-radius: 8px;
    padding: .5rem;
    box-sizing: border-box;
    color: white;
}
.photo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.location{
    display: flex;
    align-items: center;
    gap: 1rem; 
    width: 100%;
}
.location select{
    background: #3b3b3b;
    color: white;
    border-radius: 6px;
}
.submit{
    width: 100%;
    height: 2rem;
}
.submit:hover{
    background: #4b4b4b;
}